node_modules/**/*
.expo/*
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
ios/
android/
web-build/
web-report/
coverage/
cypress/downloads/
cypress/screenshots/
cypress/videos/

# macOS
.DS_Store
node_modules
